body
{
    background-color: rgb(148, 245, 58);
}
#ps{
    background-color: bisque;
}

h1
{
    background-color: rgb(160, 204, 241);
    color: rgb(26, 11, 240);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2
{
    /* background-color: rgb(238, 136, 192); */
    color: rgb(91, 11, 240);
    font-size: x-large;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.space-between
{
    display: flex;
    justify-content: space-around; 

}

.box
{
    font-size: xx-large;
}

li
{
    font-size: x-large;

}